.cards {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
    flex-wrap: wrap;
}


.time {
    text-align: center;
    padding: 32px;
}

.time p {
    font-size: 1.5rem;
    font-weight: 700;
    border-bottom: 4px solid;
    display: inline-block;
    padding: 10px;
}